extends layout

block title
  title Statistics
  meta(name='title', content='AberOWL help pages')
  meta(name='description', content='AberOWL API documentation and help pages')

block content
  .container
      h1 AberOWL Ontology Statistics
      .table-responsive
        table.table.table-striped
          tbody
            tr
              td Number of axioms
              td #{stats.aCount}
            tr
              td Number of classes
              td #{stats.cCount}
            tr
              td Number of ontologies
              td #{stats.oCount}
            tr
              td Number of labels
              td #{stats.lCount}
            tr
              td Number of definitions
              td #{stats.dCount}
            tr
              td Number of missing files 
              td #{stats.noFileError}
            tr
              td Number unsuccessful imports
              td #{stats.importError}
            tr
              td Incoherent ontologies
              td #{stats.parseError}
            tr
              td Ontologies with other errors
              td #{stats.otherError}
